# API
PORT=3001
DASHBOARD_URL=http://127.0.0.1:3001
DASHBOARD_JWT_SECRET=change_this_long_random_secret
FIVEM_API_KEY=change_this_fivem_secret
FOUNDER_DISCORD_ID=your_discord_user_id
FOUNDER_ROLE_ID=your_founder_role_id
WHITELISTED_ROLE_ID=your_whitelisted_role_id
DISCORD_GUILD_ID=your_discord_server_id
DISCORD_TICKET_CATEGORY_ID=optional_ticket_category_id

# MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=unova_dashboard

# Discord Bot
DISCORD_BOT_USER_ID=your_bot_application_id
DISCORD_BOT_ROLE_ID=optional_bot_role_id
DISCORD_BOT_TOKEN=your_bot_token
DISCORD_LOG_CHANNEL_ID=staff_log_channel_id
